---
interface Props {
  zebra?: boolean;
  compact?: boolean;
  class?: string;
}

const {
  zebra = true,
  compact = false,
  class: className = "",
} = Astro.props;

const classes = `
  table
  ${zebra ? "table-zebra" : ""}
  ${compact ? "table-xs" : ""}
  ${className}
`.trim();
---

<div class="overflow-x-auto">
  <table class={classes}>
    <slot />
  </table>
</div>
